<div class="container">
  <div class="wrapper">
    <h1>Password test</h1>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" (input)="onInput()" name="password">
      <button class="mat-button-icon" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div class="password-strenght">
      <div class="strength-section" [ngStyle]="{'background-color': colors[0]}"></div>
      <div class="strength-section" [ngStyle]="{'background-color': colors[1]}"></div>
      <div class="strength-section" [ngStyle]="{'background-color': colors[2]}"></div>
    </div>
  </div>
</div>